<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="header :: meta_header('top')">
    <meta charset="UTF-8">
    <title>商品詳細</title>
    <link href="css/commons.css" rel="stylesheet">
</head>
<body>

<div th:replace="header :: header"></div>
<hr>

<div class="update">
    <div class="form-body">
        <div class="img_block">
            <img th:src="'/images/'+ ${products.image_path}" class="product-img"><br>
<!--            <img src="'images" class="product-img"><br>-->
        </div>
        <form th:action="'/delete/'+${products.product_id}" method="post">
            <fieldset class="label-130 product_block">
                <p class="error">[[${error}]]</p>
                <div>
                    <label>商品ID</label>
                    <input type="text" name="productId" th:value="${products.product_id}" readonly class="base-text">
                </div>
                <div>
                    <label>商品名</label>
                    <input type="text" name="name" th:value="${products.name}" readonly class="base-text">
                </div>
                <div>
                    <label>単価</label>
                    <input type="text" name="price" th:value="${products.price}" readonly class="base-text">
                </div>
                <div>
                    <label>カテゴリ</label>
                    <input type="text" name="categoryId" th:value="${categories}" readonly class="base-text">

                </div>
                <div>
                    <label>商品説明</label>
                        <textarea name="description" readonly th:field="${products.description}" class="base-text" style="background-color: rgb(209, 209, 209);">

            </textarea>
                </div>
            </fieldset>
            <div>

                <div class="btns">
                    <th:block th:if="${session.sessionUser.role eq 1}">
                    <button type="button" onclick="openModal()" class="basic-btn">削除</button>

                    <button type="button" class="basic-btn">
                        <a th:href="'/update/'+${products.product_id}">編集</a>
                    </button>
                </th:block>

                    <input type="button" onclick="location.href='/menu'" value="メニューに戻る" class="cancel-btn">
                </div>
                <div id="modal">
                    <p class="modal-message">削除しますか？</p>
                    <div class="btns">
                        <button submit="button" id="delete-btn" class="basic-btn">削除</button>
                        <button type="button" onclick="closeModal()" class="cancel-btn">キャンセル</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="fadeLayer"></div>
<script src="js/commons.js"></script>
</body>
</html>