<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="meta_header(title)">
    <meta charset="UTF-8">
    <title th:text="${title}+' | メニュー'"></title>
    <link th:href="@{/css/commons.css}" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<header th:fragment="header">
<div class="header">
    <h1 class="site_logo"><a href="menu.html">商品管理システム</a></h1>
    <div class="user">
        <p class="user_name">[[ ${session.sessionUser.name} ]]さん、こんにちは</p>
        <form class="logout_form" th:action="logout" method="post">
            <button class="custom-btn" type="submit">
                <img src="images/ドアアイコン.png">ログアウト</button>
        </form>
    </div>
</div>
</header>
</body>
</html>