<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="header :: meta_header('top')">
    <meta charset="UTF-8">
    <title>商品登録</title>
    <link href="css/commons.css" rel="stylesheet">

</head>
<body>


    <div th:replace="header :: header"></div>

<hr>

<div class="insert">
    <div class="discription">
        <p>
            登録情報を入力してください（<span class="required"></span>は必須です）
        </p>
    </div>

    <div class="form-body">
        <p class="error">[[${error}]]</p>

        <form action="/product-add" method="post" th:object="${productForm}">
            <fieldset class="label-130">
                <div>
                    <label class="required">商品ID</label>

                    <input type="text" th:field="*{product_id}">

                    <span class="error" th:each="error: ${#fields.errors('product_id')}">
                        [[ ${error} ]]
                    </span>

                </div>
                <div>
                    <label class="required">商品名</label>
<!--                    <input type="text" name="name" class="base-text">-->
                    <input type="text" th:field="*{name}">
<!--                    <span class="error">エラーメッセージ</span>-->
                    <span class="error" th:each="error: ${#fields.errors('name')}">
                        [[ ${error} ]]
                    </span>
                </div>
                <div>
                    <label class="required">単価</label>
<!--                    <input type="text" name="price" class="base-text">-->
                    <input type="text" th:field="*{price}">
<!--                    <span class="error">エラーメッセージ</span>-->
                    <span class="error" th:each="error: ${#fields.errors('price')}">
                        [[ ${error} ]]
                    </span>
                </div>
                <div class="select_block">
                    <label class="required">カテゴリ</label>

                    <select name="category" class="base-text">

                        <option th:each="categorie : ${categories}" th:text="${categorie.name}" th:value="${categorie.id}"></option>

                    </select>
                </div>
                <div>
                    <label>商品説明</label>
<!--                    <textarea name="description" class="base-text"></textarea>-->
                    <textarea type="text" th:field="*{text}"></textarea>
                </div>
                <div>
                    <label>画像</label>
                    <input type="file" name="file">
                    <span class="error">エラーメッセージ</span>
                </div>
            </fieldset>
            <div class="btns">

                <button type="button" onclick="openModal()" class="basic-btn">登録</button>


                <input type="button" onclick="location.href='./menu'" value="戻る" class="cancel-btn">


            </div>
            <div id="modal">
                <p class="modal-message">登録しますか？</p>
                <div class="btns">
                    <button submit="button" class="basic-btn">登録</button>
                    <button type="button" onclick="closeModal()" class="cancel-btn">キャンセル</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="fadeLayer"></div>
    <script src="js/commons.js"></script>

</body>
</html>