<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head th:replace="header :: meta_header('top')">
    <meta charset="UTF-8">
    <title>メニュー</title>

</head>
<body>
<div id="app">

    <div th:replace="header :: header"></div>
    <hr>

    <div class="btn-area">
<!--        新規登録ボタン-->
        <th:block th:if="${session.sessionUser.role eq 1}">
            <div class="btn"><a class="basic-btn regist" href="/product-add">新規登録</a></div>
        </th:block>
        <div class="btn"><a class="basic-btn regist" href="category.html">カテゴリ管理</a></div>
    </div>
<!--    <p>成功メッセージ</p>-->
    <form method="post" action="/menu" class="search-form">
        <div class="order">
            <select name="order" class="base-text">
                <option>並び替え</option>
                <option>商品ID：昇順</option>
                <option>商品ID：降順</option>
                <option>カテゴリ：昇順</option>
                <option>カテゴリ：降順</option>
                <option>単価：安い順</option>
                <option>単価：高い順</option>
            </select>
        </div>
        <div class="search-container">
            <input type="text" name="keyword" size="25" placeholder="キーワード検索">
            <input type="submit" value="&#xf002">
        </div>
    </form>

    <table>
        <div class="caption"><p th:text = "'検索結果：' + ${T(java.lang.String).format(search.size())} + '件'"></p></div>

        <thead>
        <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>単価</th>
            <th>カテゴリ</th>
            <th>詳細</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="product : ${search}">
            <td th:text="${product.product_id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.categoriesname}"></td>
            <td><a class="detail_btn" th:href="@{/date/{id} (id = ${product.product_id})}"> 詳細</a></td>
        </tr>

        </tbody>
    </table>
</div>
<footer></footer>

</body>
</html>