<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>更新</title>
<!--    <link href="css/commons.css" rel="stylesheet">-->
    <link th:href="@{/css/commons.css}" rel="stylesheet">
</head>
<body>

<div th:replace="header :: header"></div>
<hr>

<div class="insert">
    <div class="form-body">
        <p class="error">エラーメッセージ</p>

        <form action="menu.html" method="get">
            <fieldset class="label-130">
                <div>
                    <label>商品ID</label>
                    <input type="text" name="productId" value="10001" class="base-text">
                    <span class="error">エラーメッセージ</span>
                </div>
                <div>
                    <label>商品名</label>
                    <input type="text" name="name" value="マッキー(黒)" class="base-text">
                    <span class="error">エラーメッセージ</span>
                </div>
                <div>
                    <label>単価</label>
                    <input type="text" name="price" value="165" class="base-text">
                    <span class="error">エラーメッセージ</span>
                </div>
                <div>
                    <label>カテゴリ</label> <select name="categoryId" class="base-text">
                    <option value="1" selected>ペン</option>
                    <option value="2">ノート</option>
                    <option value="3">消しゴム</option>
                    <option value="4">のり</option>
                </select>
                </div>
                <div>
                    <label>商品説明</label>
                    <textarea name="description" class="base-text">
ゼブラ株式会社
線の太さ：太6.0mm、細1.5～2.0mm
            </textarea>
                </div>
                <div>
                    <label>画像</label>
                    <input type="file" name="file">
                    <span class="error">エラーメッセージ</span>
                </div>
            </fieldset>
            <div class="btns">
                <button type="button" onclick="openModal()" class="basic-btn">更新</button>
                <input type="button" onclick="location.href='./menu.html'" value="メニューに戻る" class="cancel-btn">
            </div>
            <div id="modal">
                <p class="modal-message">更新しますか？</p>
                <div class="btns">
                    <button type="button" id="update-btn" class="basic-btn">更新</button>
                    <button type="button" onclick="closeModal()" class="cancel-btn">キャンセル</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="fadeLayer"></div>
<script src="./js/commons.js"></script>
<script>
    'use strict'
    document.getElementById('update-btn').addEventListener('click', () => {
      location.href = './menu.html'
    })
</script>
</body>
</html>