<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="header :: meta_header('top')">

    <meta charset="UTF-8">
    <title>更新</title>
<!--    <link href="css/commons.css" rel="stylesheet">-->
    <link th:href="@{/css/commons.css}" rel="stylesheet">
</head>
<body>

<div th:replace="header :: header"></div>
<hr>

<div class="insert">
    <div class="form-body">
        <p class="error">[[${error}]]</p>
<!--        products.product_id-->
        <form th:action="'/update/'+${keep}" method="post" th:object="${updateForm}">
            <fieldset class="label-130">

                <input type="hidden" th:field="*{id}">

                <input type="hidden" th:field="*{keep}">

                <div>
                    <label>商品ID</label>
                    <input type="text" th:field="*{product_id}" name="productId" class="base-text">
                    <span class="error" th:each="error: ${#fields.errors('product_id')}">
                        [[ ${error} ]]
                    </span>
                </div>
                <div>
                    <label>商品名</label>
                    <input type="text" th:field="*{name}" name="name" class="base-text">

                    <span class="error" th:each="error: ${#fields.errors('name')}">
                        [[ ${error} ]]
                    </span>

                </div>
                <div>
                    <label>単価</label>
                    <input type="text" th:field="*{price}" name="price" class="base-text">
                    <span class="error" th:each="error: ${#fields.errors('price')}">
                        [[ ${error} ]]
                    </span>
                </div>
                <div>
                    <label>カテゴリ</label>
                    <select name="categoryId" th:field="*{category_id}" class="base-text">

                    <option th:each="categorie : ${categories}" th:text="${categorie.name}" th:value="${categorie.id}"  th:selected="${category_id == categorie.id}"></option>

                </select>
                </div>
                <div>
                    <label>商品説明</label>

                    <textarea name="description" th:field="*{description}" th:value="${description}" class="base-text">

            </textarea>
                </div>
                <div>
                    <label>画像</label>
                    <input type="file" name="file">
                    <span class="error">エラーメッセージ</span>
                </div>
            </fieldset>
            <div class="btns">


                <button type="button" onclick="openModal()" class="basic-btn">更新</button>

                <input type="button" onclick="location.href='/menu'" value="メニューに戻る" class="cancel-btn">
            </div>

            <div id="modal">
                <p class="modal-message">更新しますか？</p>
                <div class="btns">
                    <button submit="button" id="update-btn" class="basic-btn">更新</button>
                    <button type="button" onclick="closeModal()" class="cancel-btn">キャンセル</button>
                </div>
            </div>

        </form>
    </div>
</div>

<div id="fadeLayer"></div>
<script src="./js/commons.js"></script>

</body>
</html>